# Database Configuration
MSSQL_SA_PASSWORD=YourStrong!Passw0rd
MSSQL_PORT=1433
DB_NAME=TestCaseDb

# Backend Configuration
BACKEND_PORT=5000
ASPNETCORE_ENVIRONMENT=Production

# JWT Configuration
JWT_ISSUER=TestCase.WebAPI
JWT_AUDIENCE=TestCase.Clients
JWT_SECRET_KEY=SuperSecretKeySuperSecretKeySuperSecretKeySuperSecretKeySuperSecretKeySuperSecretKeySuperSecretKeySuperSecretKey

# Frontend Configuration
FRONTEND_PORT=3000
REACT_APP_API_URL=http://localhost:5000